

<!-- <div (mouseover)="hover=true" (mouseleave)="hover=false">
    <span [ngStyle]="{backgroundColor: hover==true  ? 'blue' : 'white' }">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus ducimus tempore provident soluta velit, fuga molestiae recusandae est cum ipsa cumque excepturi facere dolorem atque necessitatibus quibusdam quos mollitia dolor blanditiis enim maxime deleniti, officia possimus suscipit. Assumenda iste porro quae esse, laudantium ullam deserunt unde ut vitae officiis aliquid.</span>
    </div> -->


    
        <p appBlueParagraph>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, qui voluptatibus culpa accusamus quod soluta in quam, corrupti beatae necessitatibus eveniet ea aspernatur distinctio, commodi quaerat cumque tenetur. Temporibus officiis architecto error neque repudiandae eius quasi iusto? Ipsam quas possimus suscipit iure minima, veritatis reiciendis aperiam inventore adipisci praesentium laborum nihil voluptatem minus necessitatibus laudantium debitis incidunt quae deleniti saepe perferendis iste! Quasi, repudiandae accusamus nemo id numquam, vitae incidunt assumenda ex amet et quidem. Pariatur quisquam deleniti aspernatur, qui exercitationem libero dolor similique placeat sed facilis veniam assumenda, officiis, nisi possimus minus hic? Officiis corporis sequi blanditiis fugit iure!
        </p>